.card_background {
    background:linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    color: #ffffff;
    max-width:  30rem!important;
}

.title_card {
    color: #ffffff;
}
.content_card {
    font-weight: 400;
}

/* Ajuste para aplicar el estilo de borde circular directamente a la imagen */
.card-image-profile {
    width: 10rem;  
    height: 10rem;
    border-radius:50%;
    object-fit: cover;
    object-position: 50% 50%; 
}


/* Para pantallas medianas (entre 600px y 900px de ancho) */
@media (min-width: 600px) and (max-width: 900px) {
    .card_background {
        max-width: 25rem!important; /* Ajusta el max-width para pantallas medianas */
    }
}

/* Para pantallas grandes (más de 900px de ancho) */
@media (min-width: 900px) {
    .card_background {
        max-width: 30rem!important; /* Ajusta el max-width para pantallas grandes */
    }
}