/* Global styles for the page */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@font-face {
  font-family: 'Space Age';
  src: url('../fonts/space-age/space_age.ttf');
}
body { 
  background-image: url('../img/blue_space.jpg');
  font-family: 'Open Sans', sans-serif; /* Fuente profesional */
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.glass-effect {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  width: 35%; /* Incremento de tamaño */
  min-width: 310px;
  margin: 0 auto;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  text-align: center;
}

.logo {
  font-family: 'Space Age';
  font-size: 40px; /* Aumento de tamaño para el logo */
  /*color: #3498db; Un azul relajante */
  margin-bottom: 0px;
  background: linear-gradient(to bottom, #ffffff 0%, #a3a3a3 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
}

h2 {
  font-size: 15px; /* Aumento de tamaño del texto */
  margin-bottom: 10px;
  margin-top: 10px;
  color: #f4f4f4;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}


label, p {
  display: block;
  margin-bottom: 5px;
  color: #f4f4f4;
  width: 100%;
}
p {
  text-align: center; /* unica propiedad que p no comparte con label*/
}

input[type="email"], 
input[type="text"],
input[type="password"] {
  width: 295px; /* Dejamos un espacio al borde */
  min-width: 250px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px; /* Aumento de tamaño de letra */
  /*margin-left: 2.5%; /* Centra el input */
  /*margin-right: 2.5%; /* Centra el input */
  background: transparent;
  color: #f4f4f4;
  box-sizing: border-box;
}
/* Estilos para los inputs enfocados */
input[type="email"]:focus, 
input[type="text"]:focus,
input[type="password"]:focus {
  border: solid;
  border-color: #3778a3; /* Cambiar el color del borde al azul deseado cuando está enfocado */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Agregar una sombra alrededor cuando está enfocado */
}

.btn-dark-submit {
  width: 50%; /* Ajuste al tamaño del botón */
  background-color: #34495e; /* Azul relajante */
  color: #ffffff;
  border-color: gray;
  border-radius: 5px;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
  font-size: 16px; /* Aumento de tamaño de letra */
  padding: 10px 0; /* Ajuste del padding */
}

.btn-dark-submit:hover {
  color: white;
  border-radius: 5px;
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  background-color: #2c3e50;
  cursor: pointer;
}

.register-link {
  color: #3498db;
  font-size: 16px; /* Aumento de tamaño de letra */
  display: block; /* En una nueva línea */
  margin-top: 5px;
  margin-bottom: 15px;
}