body { 
  background-image: url('../img/blue_space.jpg');
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px 0;
  background-repeat: no-repeat;  /* Evita que la imagen se repita */
  background-size: cover;  /* La imagen cubre todo el área del body */
  background-position: center center;  /* Centra la imagen en el body */
}

.glass-effect {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: auto;
  width: 35%; /* Incremento de tamaño */
  min-width: 310px;
  margin: 30px 0;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  font-family: 16px/24px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-bottom: 0px;
  background: linear-gradient(to bottom, #ffffff 0%, #a3a3a3 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
}

h2 {
  font-family: 16px/24px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px; /* Aumento de tamaño del texto */
  margin-bottom: 10px;
  margin-top: 10px;
  color: #f4f4f4;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}


label, p {
  font-family: 16px/24px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
  color: #f4f4f4;
  width: 100%;
}
p {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center; /* unica propiedad que p no comparte con label*/
}

input[type="email"], 
input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 295px; /* Dejamos un espacio al borde */
  min-width: 250px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  font-size: 16px; /* Aumento de tamaño de letra */
  background: transparent;
  color: #f4f4f4;
  box-sizing: border-box;
}
/* Estilos para los inputs enfocados */
input[type="email"]:focus, 
input[type="text"]:focus,
input[type="password"]:focus {
  border: solid;
  border-color: #3778a3; /* Cambiar el color del borde al azul deseado cuando está enfocado */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Agregar una sombra alrededor cuando está enfocado */
}

.btn-dark-submit {
  width: 50%;
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  border: 2px solid #fff; /* Borde blanco */
  border-radius: 15px;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  padding: 7px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-dark-submit:hover {
  background-color: #222; /* Cambia el fondo al hacer hover */
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  cursor: pointer;
}

.register-link {
  margin-top: 10px;
  color: #3498db;
  font-size: 16px; /* Aumento de tamaño de letra */
  display: block; /* En una nueva línea */
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-transparent-background {
  background: transparent;
  border: none; /* Quita el borde del card si lo deseas */
}

.card-transparent-background .card-body {
  background: transparent; /* Hace que el fondo del card-body sea transparente */
  color: #fff; /* Cambia el color del texto si es necesario */
}
.total-cost{
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.close_error {
  color: gray; /* Cambia el color a gris */
  background-color: transparent; /* Mantiene el fondo transparente */
  border: none; /* Elimina el borde */
}

.close_error:hover {
  color: darkgray; /* Cambia el color al pasar el mouse por encima para un efecto de hover */
}
/* Dispositivos móviles pequeños */
@media (max-width: 576px) {
  .glass-effect {
    width: 90%; /* Ajustar para ocupar casi todo el ancho en pantallas pequeñas */
  }
}

/* Dispositivos móviles */
@media (max-width: 768px) {
  .glass-effect {
    width: 85%; /* Un poco más de margen que en dispositivos más pequeños */
  }
}

/* Tablets */
@media (max-width: 992px) {
  .glass-effect {
    width: 70%; /* Dando más espacio en tablets */
  }
}

/* Pantallas grandes */
@media (min-width: 992px) {
  .glass-effect {
    width: 50%; /* En pantallas grandes, no queremos que sea demasiado ancho */
  }
}

/* Continúa con el resto de tus estilos y aplica media queries donde lo veas necesario */

/* Por ejemplo, para ajustar el tamaño del texto según el dispositivo: */
@media (max-width: 576px) {
  h2, label, p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  h2, label, p {
    font-size: 15px;
  }
}