{% extends "payment/base_pay.html" %}
{% block title %}Failed Payment{% endblock %}
{% block header %}Sorry, there was an issue with your payment{% endblock %}
{% block form_content %}
    <h3>Payment Issue</h3>
    <p>There was a problem processing your payment. Please try again or choose another payment method.</p>
{% endblock %}
{% block additional_content %}
    <br>
    <a href="{% url 'subscription' %}" title="return to subscription" class="button-to-pay">Return to Subscriptions</a>
{% endblock %}