{% load static %}
{% load i18n %}

<div class="columns is-multiline">
    <div class="column is-full">
        <div class="card card_background">
            <div class="card-content">
                <p class="title is-4 title_card">{% trans "About the company" %}</p>
                <p class="message-content">
                    {% trans "We are an American technology Start up founded in 2016." %} <br>
                    {% trans "With 1 click and 5 minutes we help you create a personalized conversational website and we continuously help you improve it." %} <br><br>
                    {% trans "Our conversational website includes:" %} <br><br>
                    {% trans "24/7 customer service better than a human being with the best AIs. Also includes" %} <br>
                    {% trans "Integration with database and systems of your website or app. Create an AI chat bot that is an expert in your business in 5 minutes that sends emails and processes payments and orders." %} <br><br>
                    {% trans "Our goal is to improve life and businesses with technology." %}
                </p>
            </div>
        </div>
    </div>
    <div class="column is-full">
        <div class="card card_background">

            <div class="container is-flex is-justify-content-center is-align-items-center" style = "padding: 1.5rem;">
                <img src="{% static 'img/leader.jpg' %}" alt="Johnny Rodriguez Cardona" class="card-image-profile">
            </div>

            <div class="card-content">
                <p class="title is-4 title_card">Johnny Rodriguez Cardona</p>
                <p class="subtitle is-6 title_card">Software Engineer</p>
                <p class="message-content">Johnny is a seasoned software engineer with 7 years of experience specializing in full-stack .NET development, mobile app creation, Python scripting, and data science. <br> As the founder and lead developer of Efexzium, he oversees AITeam—an AI-based coding platform designed to accelerate software development while adhering to industry best practices. <br> Johnny's expertise also spans HTML, CSS, and JavaScript. He's passionate about contributing to open-source projects and advocating for data privacy.</p>
            </div>
        </div>
    </div>
    <div class="column is-full">
        <div class="card card_background">
            <div class="container is-flex is-justify-content-center is-align-items-center" style="padding: 1.5rem;">
                <img src="{% static 'img/leader2.jpeg' %}" alt="Miguel Hernandez Rodriguez" class="card-image-profile">
            </div>
            <div class="card-content">
                <p class="title is-4 title_card">Miguel Hernandez Rodriguez</p>
                <p class="subtitle is-6 title_card">Co-founder of Efexzium</p>
                <p class="message-content">Managing Partner of Sales for Colombia</p>
            </div>
        </div>
    </div>
    <div class="column is-full">
        <div class="card card_background">

            <div class="container is-flex is-justify-content-center is-align-items-center" style = "padding: 1.5rem;">
                <img src="{% static 'img/developer.png' %}" alt="Santiago Reina Hernandez" class="card-image-profile-developer">
            </div>
            <div class="card-content">
                <p class="title is-4 title_card">Santiago Reina Hernandez</p>
                <p class="subtitle is-6 title_card">Python Developer</p>
                <p class="message-content">Santiago is an experienced Python developer with expertise in HTML, CSS, and Java. He managed Docker containers and crafted multiple webpages using Python. Holds a degree from Universidad del Rosario and is certified by Samsung Innovation Campus, boasting 3 years of professional experience.</p>
            </div>
        </div>
    </div>
</div>
