
<div class="message-left glass">

    <div class="img_firstbio"></div>

    <p class="message-content"><strong>Johnny Rodriguez Cardona</strong> is a seasoned software engineer with 7 years of experience specializing in full-stack 
        .NET development, mobile app creation, Python scripting, and data science. As the founder and lead developer of Efexzium, he oversees 
        AITeam—an AI-based coding platform designed to accelerate software development while adhering to industry best practices. Johnny's expertise
        also spans HTML, CSS, and JavaScript. He's passionate about contributing to open-source projects and advocating for data privacy.</p>

    <!--<div class="img_thirdbio"></div> -->

    <p class="message-content"><strong>Santiago Reina Hernandez</strong> Experienced Python developer with expertise in HTML, CSS, and Java. 
        Managed Docker containers and crafted multiple webpages using Python. Holds a degree from Universidad del Rosario and is certified by Samsung Innovation Campus, 
        boasting 2 years of professional experience."</p>

    <div class="mt-2">
        <button class="btn btn-light btn-sm me-2" title="Copiar"><i class="bi bi-clipboard"></i></button>
        <button class="btn btn-light btn-sm me-2" title="Me gusta"><i class="bi bi-hand-thumbs-up"></i></button>
        <button class="btn btn-light btn-sm" title="No me gusta"><i class="bi bi-hand-thumbs-down"></i></button>
    </div>
</div>
<div class="clearfix"></div>