{% load i18n %}
<div class="message-left glass">
    
    <p class="message-content">{% trans "Are you sure you want to cancel your subscription? Once cancelled, you will no longer have access to the plan features.
        Please confirm your decision by send message" %} <strong>{% trans "Yes" %}</strong> {% trans "or" %} <strong>{% trans "No" %}</strong></p> 

    <div class="mt-2">
        <button class="btn btn-light btn-sm me-2" title="Copiar"><i class="bi bi-clipboard"></i></button>
        <button class="btn btn-light btn-sm me-2" title="Me gusta"><i class="bi bi-hand-thumbs-up"></i></button>
        <button class="btn btn-light btn-sm" title="No me gusta"><i class="bi bi-hand-thumbs-down"></i></button>
    </div>
</div>
<div class="clearfix"></div>