<div class="message-left glass">
    <!--contact_us_message-->
    <p class="message-content">send 'yes' to create your own website or send 'no' if you want to continue giving information to the AI for your page, 
        when you are ready click again on 'Create your own page?' to create your own page and view it at <a href="{{ my_site_IA }}" title="your own website"><h2 class="reset-styles" >this link</h2></a> </p>
    <div class="mt-2">
        <button class="btn btn-light btn-sm me-2" title="Copiar"><i class="bi bi-clipboard"></i></button>
        <button class="btn btn-light btn-sm me-2" title="Me gusta"><i class="bi bi-hand-thumbs-up"></i></button>
        <button class="btn btn-light btn-sm" title="No me gusta"><i class="bi bi-hand-thumbs-down"></i></button>
    </div>
</div>
<div class="clearfix"></div>