<div class="message-left glass">
    <!--contact_us_message-->
    <p class="message-content">send 'yes' to create your own website or send 'no' if you want to continue giving information to the AI for your page, 
        when you are ready click again on 'Create your own page?' to create your own page and view it at <a href="{{ my_site_IA }}" title="your own website"><h2 class="reset-styles" >this link</h2></a> </p>
        <footer class="card-footer" style="border-top: none; background-color: transparent;" >
            <div style="display: flex; align-items: center;">
                <button class="is-small no-border no-outline" style="margin-left: 1rem;" title="Copiar"> 
                        <span class="icon is-small">
                            <i class="fas fa-clipboard"></i>
                    </span>
                </button>
                <button class=" is-small no-border no-outline"  style="margin-left: 1rem;" title="Me gusta"> 
                    <span class="icon is-small">    
                        <i class="fas fa-thumbs-up"></i>
                        
                    </span>
                </button>
                <button class=" is-small no-border no-outline"  style="margin-left: 1rem;" title="No me gusta"> 
                    <span class="icon is-small">    
                        
                        <i class="fas fa-thumbs-down"></i>
                    </span>
                </button>
            </div>
        </footer>
</div>
<div class="clearfix"></div>