{% load i18n %}
<div class="column is-full">
    <div class="card message-left glass">
        <div class="card-content">
            <h2 class="title is-4 title_card">{% trans "FAQS" %}</h2>
            <!--Faqs message-->
            <p class="message-content">
                {% trans "We transform your business." %}
            </p>

            <p class="message-content"><strong>{% trans "How will my AI know what to say or do to my clients?" %}</strong></p>
            <ul>
                <li class="message-content bullet-point">
                    {% trans "You provide your data in a PDF or any other data format to us. If it's not a PDF, send us a message with '?' or '!' and we will answer ASAP." %}
                </li>
            </ul>

            <p class="message-content"><strong>{% trans "What does the chatbot do?" %}</strong></p>
            <ul>
                <li class="message-content bullet-point">
                    {% trans "Provides better-than-human 24/7 customer service. Your data is yours, and you can use it to improve your business." %}
                </li>
            </ul>

            <p class="message-content"><strong>{% trans "What services do you offer?" %}</strong></p>
            <ul>
                <li class="message-content bullet-point">
                    {% trans "High-quality, better-than-human customer service that constantly improves and gathers data to provide you with game-changing information to grow your business." %}
                </li>
            </ul>
        </div>
        <footer class="card-footer" style="border-top: none; background-color: transparent;" >
            <div style="display: flex; align-items: center;">
                <button class="is-small no-border no-outline" style="margin-left: 1rem;" title="Copiar"> 
                        <span class="icon is-small">
                            <i class="fas fa-clipboard"></i>
                    </span>
                </button>
                <button class=" is-small no-border no-outline"  style="margin-left: 1rem;" title="Me gusta"> 
                    <span class="icon is-small">    
                        <i class="fas fa-thumbs-up"></i>
                        
                    </span>
                </button>
                <button class=" is-small no-border no-outline"  style="margin-left: 1rem;" title="No me gusta"> 
                    <span class="icon is-small">    
                        
                        <i class="fas fa-thumbs-down"></i>
                    </span>
                </button>
            </div>
        </footer>
    </div>
</div>