{% load i18n %}
<div class="message-left glass">
    <p class="title is-4 title_card">
        {% trans "Successfully Created Temporary Conversation" %}
    </p>
    <p class="message-content">
        {% trans "The PDF file has been successfully uploaded and you can now ask questions about its content." %}
    </p>
    <p class="message-content">
        {% trans "To get a permanent web page where the AI can answer questions about your PDF, you need to create an account and get a plan." %}
    </p>
</div>
<div class="clearfix"></div>
