{% extends "registration/base_auth.html" %}

{% block title %}Log In to EFEXZIUM{% endblock %}
{% block logo %} EFEXZIUM =$={% endblock %}
{% block header %}
Log In
{% endblock %}

{% block form_content %}
    <!-- Bloque para mostrar mensajes -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert flex-container alert_error" role="alert" style="background-color: #0A2342; color: white">
                <strong>{{ message }}</strong>
                <button type="button" class="btn btn-close close_error" style="background-color: transparent; color: gray; border: none;" data-bs-dismiss="alert" aria-label="Close">X</button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="id_username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="id_password" required>
        </div>
        <button type="submit" class="btn-dark-submit">Enter</button>
    </form>
{% endblock %}

{% block additional_content %}
    <p>Don't have an account?</p>
    <a href="{% url 'signup' %}" class="register-link">Create account</a>
    <p>Forgot your password?</p>
    <a href="{% url 'password_reset' %}" class="register-link">Reset password</a>
{% endblock %}
