{% extends "registration/base_auth.html" %}

{% block title %}Reset Password for EFEXZIUM{% endblock %}

{% block header %}
Reset Password
{% endblock %}

{% block form_content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="input-group">
        <label for="newpassword">New Password</label>
        <input type="password" name="newpassword" id="newpassword" required>
    </div>
    <div class="input-group">
        <label for="confirmpassword">Confirm New Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" required>
    </div>
    
    <button type="submit" class="btn-dark-submit">Change Password</button>
    <br> <br>
</form>

{% endblock %}

{% block additional_content %}
<p>Know your password?</p>
<a href="{% url 'login' %}" class="register-link">Log in</a>
{% endblock %}
