{% extends "registration/base_auth.html" %}

{% block title %}Reset Password for EFEXZIUM{% endblock %}
{% block logo %} EFEXZIUM =$={% endblock %}
{% block header %}
Reset Password =$=
{% endblock %}

{% block form_content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert flex-container alert_error" role="alert" style="background-color: #0A2342; color: white">
                <strong>{{ message }}</strong>
                <button type="button" class="btn btn-close close_error" style="background-color: transparent; color: gray; border: none;" data-bs-dismiss="alert" aria-label="Close">X</button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <button type="submit" class="btn-dark-submit">Send Reset Email</button>
        <br> <br>
    </form>
{% endblock %}

{% block additional_content %}
<p>Know your password?</p>
<a href="{% url 'login' %}" class="register-link">Log in</a>
{% endblock %}
