{% extends "registration/base_auth.html" %}
{% load i18n %}
{% block title %}EFEXZIUM =$={% endblock %}
{% block header %}
{% trans "Set New Password" %}
{% endblock %}

{% block form_content %}
<form method="post" id="resetpass" class="is-flex-direction-column form-column-layout">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button is-dark">{% trans "Set New Password" %}</button>
</form>
<script>
    $(document).ready(function() {
        // Encuentra los elementos li que contienen mensajes de error y quita los estilos predeterminados
        // Encuentra el elemento ul dentro de #resetpass y reemplázalo por un div
        $('#resetpass ul').each(function() {
            // Crea un nuevo div
            var newDiv = $('<div class="notification is-gray" role="alert">');

            // Mueve el contenido (los li) del ul al nuevo div
            $(this).contents().appendTo(newDiv);

            // Reemplaza el ul con el nuevo div
            $(this).replaceWith(newDiv);

            // Mueve el nuevo div al principio del formulario
            $(newDiv).prependTo('#resetpass');
        });
    });
</script>
{% endblock %}