{% extends "registration/base_auth.html" %}
{% load i18n %}
{% block title %}EFEXZIUM =$={% endblock %}
{% block header %}
{% trans "Set New Password" %}
{% endblock %}

{% block form_content %}
<form method="post" id="resetpass">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-dark-submit">{% trans "Set New Password" %}</button>
</form>
<script>
    $(document).ready(function() {
        // Encuentra los elementos li que contienen mensajes de error y quita los estilos predeterminados
         // Encuentra el elemento ul dentro de #resetpass y reemplázalo por un div
    $('#resetpass ul').each(function() {
         // Crea un nuevo div
         var newDiv = $('<div class="alert flex-container alert_error" style="background-color: rgba(10, 35, 66, 0.7);color: white;list-style-type: none;"></div>');

         // Mueve el contenido (los li) del ul al nuevo div
         $(this).contents().appendTo(newDiv);
 
         // Reemplaza el ul con el nuevo div
         $(this).replaceWith(newDiv);
     });
    });
    </script>
{% endblock %}