{% extends "registration/base_auth.html" %}
{% load i18n %}
{% block title %}EFEXZIUM =$={% endblock %}
{% block header %}
{% trans "Set New Password" %}
{% endblock %}

{% block form_content %}
{% if form %}
        <form method="post" id= "resetpass">
            {% csrf_token %}
            <div class="field form-vertical" >
                {{ form.as_p }}
            </div>
            <button type="submit" class="button is-dark is-confirm-password">{% trans "Set New Password" %}</button>
        </form>
    {% else %}
        <p class="success-message" >{% trans "No form available. Please visit the following link to reset your password:" %} <a href="{% url 'password_reset' %}" class="succes-link-reset-password">{% trans "Reset Password" %}</a></p>
        
    {% endif %}
    <style>
        .field.form-vertical p {
            display: inline-grid;
            align-items: center;
            margin-bottom: 1rem;
        }
        .field.form-vertical p label {
            flex: 1;
            margin-right: 1rem;
        }
        .field.form-vertical p input {
            flex: 2;
        }
    </style>
    <script>
        $(document).ready(function() {
            // Encuentra los elementos li que contienen mensajes de error y quita los estilos predeterminados
            // Encuentra el elemento ul dentro de #resetpass y reemplázalo por un div
            $('#resetpass ul').each(function() {
                // Crea un nuevo div
                var newDiv = $('<div class="notification is-gray" role="alert">');
    
                // Mueve el contenido (los li) del ul al nuevo div
                $(this).contents().appendTo(newDiv);
    
                // Reemplaza el ul con el nuevo div
                $(this).replaceWith(newDiv);
    
                // Mueve el nuevo div al principio del formulario
                $(newDiv).prependTo('#resetpass');
            });
        });
    </script>

    
{% endblock %}