{% extends "registration/base_auth.html" %}
{% load i18n %}
{% block title %}Loco =$={% endblock %}
{% block header %}
{% trans "Set New Password" %}
{% endblock %}

{% block form_content %}
<form method="post" id="resetpass" class="is-flex-direction-column form-column-layout">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button is-dark">{% trans "Set New Password" %}</button>
</form>

{% if form.errors %}
    <ul>
    {% for field in form %}
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
