{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="AI Team Chat: Gain insights and consult on our artificial intelligence services.">
    <meta name="keywords" content=",EFEXZIUM, AI Team, AI, Team, Chat, Artificial Intelligence, EFEXZIUM =$=">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {{header}} {% trans " Artificial Intelligence Services by Ai-team" %}</title>
    
    <link rel="canonical" href="{% url 'ai-team' context='main' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href={% static "css/style_chat.css" %} rel="stylesheet"> 
    
</head>

<body data-language-prefix="{{ LANGUAGE_CODE }}"></body>>
    
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center">
    
            <!-- Chat Header -->
            <div class="chat-header d-flex justify-content-between align-items-center px-3 py-2 glass">
                <div class="nav-container">
                    <!-- Asegúrate de que el checkbox tiene el id correcto -->
                    <input class="checkbox" type="checkbox" id="hamburgerToggle" />
                    <!-- Vincula el label (hamburger-lines) con el checkbox mediante el atributo "for" -->
                    <label class="hamburger-lines" for="hamburgerToggle">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </label>
                     <!-- Añade esta línea para el menú -->
                    <div class="menu-items glass" > <!-- Ajusta la posición vertical -->
                        <ul>
                            <li cy-data="home-link" ><a href="{% url 'ai-team' context='main' %}" title="Main page of AI Team Chat"><h2 class="reset-styles" >{% trans "Home"%}</h2></a></li>

                            {% if user.is_authenticated %}
                                <li cy-data="logout-link"><a href="{% url 'logout' %}" title="logout"><h2 class="reset-styles" >{% trans "Logout"%}</h2></a></li>
                                <li cy-data="panel-link"><a href="{% url 'ai-team' context='panel-admin' %}" id="panel-admin-link" title="Your Panel Admin to create a site-web"><h2 class="reset-styles" >Admin Panel</h2></a></li>
                                <li><a href="{% url 'ai-team' context='subscription' %}" title="See our subscriptions plans"><h2 class="reset-styles" >{% trans "Subscriptions"%}</h2></a></li>
                            {% else %}
                                <li cy-data="login-link"><a href="{% url 'login' %}" title="login to AI Team for more"><h2 class="reset-styles" >{% trans "Login" %}</h2></a></li>
                                <li cy-data="faq-link"><h2 class="reset-styles"><a data-template="faqs_messages" title="frequently asked questions about AI Team">{% trans "FAQs"%}</a></h2></li>
                                <li cy-data="contact-link"><h2 class="reset-styles"><a data-template="contact_us" title="How to Contac us">{% trans "Contact Us"%}</a></h2></li>
                                <li cy-data="about-link"><h2 class="reset-styles"><a data-template="about_us" title="Who we are and our members">{% trans "About Us"%}</a></h2></li>
                            {% endif %}
                            
                            {% if context_value == "main" and user.is_authenticated%}
                            <li cy-data="faq-link"><h2 class="reset-styles"><a data-template="faqs_messages" title="frequently asked questions about AI Team">{% trans "FAQs"%}</a></h2></li>
                            <li cy-data="contact-link"><h2 class="reset-styles"><a data-template="contact_us" title="How to Contac us">{% trans "Contact Us"%}</a></h2></li>
                            <li cy-data="about-link"><h2 class="reset-styles"><a data-template="about_us" title="Who we are and our members">{% trans "About Us"%}</a></h2></li>
                            {% endif %}

                            {% if context_value in valid_contexts %}
                                {% if site_exists %}
                                <li cy-data="my-site-link"><a href="{{ my_site_IA }}">{{my_site_title}}</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            
                <h1 class="chat-title">{{title}} =$=</h1>         
            </div>
            <!-- Chat Content -->
            <div class="col-12 messages-container px-0">
                <!-- Metallic Text -->
                <div class="metallic-text">
                    <h2 class="reset-styles">{% trans "An AI Team is writing"%}</h2>
                </div>
                <div class="chat-body px-3 py-2" id="chatBox">
                    {% if context_value == "main" %}
                        <div class="message-left glass">
                            <p class="message-content">
                                {% trans "Website creation service with AI: 24/7 customer service better than a human being with AI like gpt 4. Integration with database and systems of your website or app. Create an AI bot in 5 minutes that sends emails and processes payments and orders."%}<br>
                                <br>
                                {% if user.is_authenticated %}
                                    {% trans "Welcome to AI Team"%} {{ user.username}} {% trans "Ask your questions about our services"%} <br>
                                {% endif %}
                                
                            </p>            
                            <button class="btn btn-light btn-sm me-2" title="Copiar"><i class="bi bi-clipboard"></i></button>
                            <button class="btn btn-light btn-sm me-2" title="Me gusta"><i class="bi bi-hand-thumbs-up"></i></button>
                            <button class="btn btn-light btn-sm" title="No me gusta"><i class="bi bi-hand-thumbs-down"></i></button>
                        </div>
                    {% elif context_value == "subscription" %}
                        {% if user.is_subscribe %}
                            <!-- Aiteam give info to user about our plans -->
                            <div class="message-left glass">
                                <p class="message-content">
                                    {% trans "Information about your subscription:"%} <br>
                                    {% trans "you current plan:"%} {{user.subscription_detail.plan_name}} <br>
                                    {% trans "Subscription Status:"%} {{user.subscription_status}} <br>
                                    {% trans "Pay with:"%} Paypal <br>
                                    {% trans "the plan expires:"%} {{user.next_date_pay}} <br>
                                    {% trans "Subscribed from Date:"%} {{user.date_subscription}}  <br>
                                    {% trans "if you wanna upgrade your current subscription visit the"%} <a href="{% url 'subscription' %}" title="see our subscription plans"><strong class="white-link" >{% trans "Subscription"%}</strong></a> {% trans "page"%}
                                </p>            
                                <div class="mt-2">
                                    <form id="cancel-subscription-form" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="cancel_subscription">
                                        <button type="submit" class="btn btn-danger">{% trans "Cancel Subscription" %}</button>
                                    </form>
                                                                                                                           
                                </div>
                            </div>
                        {% else %}
                            <div class="message-left glass">
                                <p class="message-content">
                                    {% trans "We are thrilled to introduce our range of subscription plans tailored to enhance your experience on our website. These plans are designed to provide you with exclusive benefits and access to premium features, ensuring you get the most out of your online journey with us:" %} <br>
                                    <strong>{% trans "Entry Plan" %}</strong> <br>
                                    <strong>{% trans "Premium Plan" %}</strong> <br>
                                    <strong>{% trans "Enterprise Plan" %}</strong> <br>
                                    {% trans "you can get any of this subscriptions en the next page:" %}  <a href="{% url 'subscription' %}" title="login to AI Team for more"><strong class="white-link" >{% trans "Subscription" %}</strong></a> {% trans "page"%}
                                </p>
                                <p class="message-content">{% trans "if you wanna know about each plan, only send a message and AI Team response you" %}</p>
                                <div class="mt-2">
                                    <button class="btn btn-light btn-sm me-2" title="Copiar"><i class="bi bi-clipboard"></i></button>
                                    <button class="btn btn-light btn-sm me-2" title="Me gusta"><i class="bi bi-hand-thumbs-up"></i></button>
                                    <button class="btn btn-light btn-sm" title="No me gusta"><i class="bi bi-hand-thumbs-down"></i></button>
                                </div>
                            </div>
                        {% endif %}
                    {% elif context_value == "panel-admin" %}
                    <div class="message-left glass">
                        <p class="message-content"> {% trans "In this chat, you'll be able to provide our AI with the essential information to craft your very own AI Chat Experience – a perfect tool to impress your clients, boss, or friends. Here's what we need from you: "%}
                            <br>
                            <strong>{% trans "1 Page Title"%}</strong>{% trans ": This represents the name that appears on the browser tab. For example in this page is: AI Team Chat - Artificial Intelligence Services by Ai-team." %} <br>
                            <strong>{% trans "2 Page Header"%}</strong>{% trans ": This acts as the main title or heading on your page. For example in this page is: EFEXZIUM =$=" %}<br>
                            <strong>{% trans "3 Navigation Links"%}</strong>{% trans ": Please provide the list of navigation items (< li > tags) and their respective redirect links. For example in this page is: Home, Logout, Admin Panel, and Subscription. Don't forget to specify both the name of each tag and the URL you'd like it to redirect to. "%} <br>
                            <strong>{% trans "4 Default Chat Message"%}</strong>{% trans ": A default greeting message that visitors will see when they access your AI chat. Something like: Hello, how can I assist you today? "%} <br>
                            <strong>{% trans "5 Products"%}</strong>{% trans ": Describe your products to the AI for each product by passing them the following details: name, description, value in USD, and a url that they can access them to "%} <br>
                            <strong>{% trans "6 Images"%}</strong> {% trans "You can upload the images of your products with the Upload button to relate an image to your product simply the name of the image must be the same as the name of your product, if you described a product with the name 'product' the name of the image must be product, otherwise the AI will not show the image of your product. Preferably in png format"%} <br>
                            <strong>{% trans "7 Context Information"%}</strong> {% trans ": Submit a pdf o txt file with Information, questions ans answers that you want to AI-Team respond to your clients. This information will customize AI Team's responses on your page, ensuring they align with your vision and offer a unique user experience." %} <br>
                            <strong>{% trans "Once all is set"%}</strong> {% trans ": In the folding panel you can see the link to your site when it is generated. You'll need to reload the page. The AI will display your product information when the user asks about it and will answer according to the context you give them, remember to add the product information also in the context so that the AI takes it into account then you can start the chat, test it, and share it as you wish!" %}<br>
                            
                            {% trans "We're excited to help you personalize your AI-powered chat experience!" %}</p>
                           
                            <div class="mt-2">
                                <button class="btn btn-light btn-sm me-2" title="Copiar"><i class="bi bi-clipboard"></i></button>
                                <button class="btn btn-light btn-sm me-2" title="Me gusta"><i class="bi bi-hand-thumbs-up"></i></button>
                                <button class="btn btn-light btn-sm" title="No me gusta"><i class="bi bi-hand-thumbs-down"></i></button>
                            </div>
                        </div>
                    {% else %}
                        <!--Here will stay the messages with Ai-team-->
                    {% endif %} <!-- Cierre del if context_value == "subscription" -->
                </div>
            </div>
            
    
            <!-- Chat Footer -->
            <div class="chat-footer">
                <div class="footer-content">
                    <span id="totalCostDisplay"></span>
                    <div class="loading-dots-container">
                        <div class="loading-dots">
                            <span class="dot dot-1"></span>
                            <span class="dot dot-2"></span>
                            <span class="dot dot-3"></span>
                        </div>
                        <br>
                    </div>
                    <span class="total-cost" id="totalCostDisplay"></span>
                    <div class="formulary">
                        {% csrf_token %}
                        <input type="text" class="form_input" id="userMessage" placeholder="Send a message..." onkeydown="handleKeyDown(event, '{{context_value}}')">
                        <button class="btn btn-send" onclick="sendMessage( '{{context_value}}' )">{% trans "Send" %}</button>
                        {% if context_value == 'panel-admin' %}
                            <!-- Input escondido para subir archivos -->
                            
                            <input type="file" style="display: none;" id="fileInput" name="uploaded_files" multiple accept=".pdf,.txt, .png">
                            <label for="fileInput" class="btn btn-send">{% trans "Upload" %}</label>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "hidden-ai-team.html" %}


</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src={% static 'js/landing.js' %} ></script> 
    <!-- Opcionalmente, jQuery y Bootstrap JS al final justo antes de cerrar la etiqueta </body> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var currentContext = "{{ context_value }}";  // Aquí asumimos que has pasado context_value a tu template.
    </script>
    <script>
        console.log({{ LANGUAGE_CODE }});
        var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}'; // Django inyecta el código de idioma actual aquí
    </script>
</html>