{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AI Team Chat: Gain insights and consult on our artificial intelligence services.">
    <meta name="keywords" content="EFEXZIUM, AI Team, AI, Team, Chat, Artificial Intelligence, EFEXZIUM =$=, Website creation, Create, clients, plans, website, Subscriptions, client">


    <title>{% block title %}{% trans "Subscriptions" %} - AI Team Chat: Artificial Intelligence Services {% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'css/style_subscription.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        const csrfToken = '{{ csrf_token }}';
    </script>
</head>

<body>
    <div class="row"><div class="chat-header d-flex justify-content-between  px-3 py-2 glass" style="align-items: start;justify-content: flex-start;">
        <div class="nav-container d-flex align-items-center">
            <!-- Asegúrate de que el checkbox tiene el id correcto -->
            <input class="checkbox" type="checkbox" id="hamburgerToggle">
            <!-- Vincula el label (hamburger-lines) con el checkbox mediante el atributo "for" -->
            <label class="hamburger-lines" for="hamburgerToggle">
                <i class="bi bi-list"></i>
            </label>
             <!-- Añade esta línea para el menú -->
            <div class="menu-items glass"> <!-- Ajusta la posición vertical -->
                <ul>
                    <li cy-data="home-link"><a href="/es/chat/main/" title="Main page of AI Team Chat"><h2 class="reset-styles">{% trans "Home"%}</h2></a></li>

                    
                        <li cy-data="login-link"><a href="/es/login/" title="login to AI Team for more"><h2 class="reset-styles">{% trans "Login"%}</h2></a></li>
                        <li><a href="{% url 'signup' %}" title="login to AI Team for more"><h2 class="reset-styles">{% trans "Singup"%}</h2></a></li>
                        <li><a href="{% url 'password_reset' %}" data-template="faqs_messages" title="Reset password"><h2 class="reset-styles">{% trans "Reset Password"%}</h2></a></li>
                        
                        {% if user.is_superuser %}
                        <li><a href="{% url 'create_subscription' %}" data-template="faqs_messages" title="Crete Subscription"><h2 class="reset-styles">Create Subscription</h2></a></li>
                        <li><a href="{% url 'list_subscriptions' list_all='clients'%}" data-template="faqs_messages" title="Clients"><h2 class="reset-styles">Clients</h2></a></li>
                        <li><a href="{% url 'list_subscriptions' list_all='plans'%}" data-template="faqs_messages" title="Plans"><h2 class="reset-styles">Plans</h2></a></li>
                        {% endif %}
                        


                </ul>
            </div>
            <h1 class="chat-title">Subscriptions =$=</h1> 
        </div>
    
                
    </div></div><br>
 <div class="row" style="justify-content: center;"> 
    <div class="container">
        <br>
        <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <div class="card cont-card">
                        <div class="card-header glass-header">
                            <h2>{% trans "Special Code" %}</h2>
                        </div>
                        <div class="card-body glass-body" id="planDetails">
                            <form id="specialCodeForm">
                                {% csrf_token %}
                                <input type="text" name="special_code" placeholder="Ingresa tu código" class="form-control">
                                <button type="submit" class="btn button-to-pay">{% trans "Send Code" %}</button>
                            </form>
                        
                        </div>
                    </div>
                </div>
                {% for plan in plans %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="card cont-card">
                        <div class="card-header glass-header">
                            <h2>{{ plan.name }}</h2> <!-- Nombre del plan -->
                        </div>
                        <div class="card-body glass-body">
                            <p><strong>{% trans "Product Name" %}</strong> {{ plan.product_name }}</p>
                            <p><strong>{% trans "Plan Name" %}</strong> {{ plan.plan_name }}</p>
                            <p><strong>{% trans "Price" %}</strong> ${{ plan.price }} USD</p>
                            <p><strong>{% trans "Subscription Status" %}</strong> {{ plan.subscription_status }}</p>
                            <!-- Features y Target Market comentados por ahora -->
                            <h5 class="card-title">{% trans "Features" %}</h5>
                            <ul class="features-list">
                                {% for feature in plan.features_list %}
                                <li>{{ feature }}</li>
                                {% endfor %}
                            </ul>
                            {% if plan.target_market %}
                            <h5 class="card-title">{% trans "Target Market" %}</h5>
                            <ul class="features-list">
                                {% for target_market in plan.market_place %}
                                <li>{{ target_market }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="pay-buttons buttons-group">
                                <!-- PayPal -->
                                <form class="paypal-form" action="{% url 'subscription' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="plan_id" value="{{ plan.plan_id }}">
                                    <button type="submit" class="btn button-to-pay">{% trans "Pay with PayPal" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <!-- Controles de "Anterior" y "Siguiente" -->
            <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
                <i class="bi bi-chevron-left"></i>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
                <i class="bi bi-chevron-right"></i>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
        <br>
    </div></div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#cardCarousel').carousel();
        });
        
    </script>
    <script>
        function getLanguagePrefix() {
            const path = window.location.pathname;
            const languageCode = path.split('/')[1]; // Obtiene el segmento de idioma del path
            return languageCode;
        }
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        document.getElementById('specialCodeForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const csrfToken = getCookie('csrftoken');
            var specialCode = this.special_code.value;
            console.log(specialCode);
            const languagePrefix = getLanguagePrefix();
            console.log(languagePrefix);
            let urlEndpoint = `/${languagePrefix}/subs-page/`;
            console.log(urlEndpoint);
            fetch(urlEndpoint, {
                method: 'POST',
                headers: {
                    "X-CSRFToken": csrfToken,
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'special_code=' + specialCode
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Código no encontrado');
                }
            })
            .then(data => {
                // Mostrar los detalles del plan en el div #planDetails
                var planDetails = document.getElementById('planDetails');

                var newContent =  '<p><strong>Product Name:</strong>' +data.product_name + '</p>' +
                                        '<p><strong>Plan Name:</strong>' + data.plan_name + '</p>' +
                                        '<p><strong>Price:</strong> $' +  data.price + 'USD </p>' +
                                        '<br>' +
                                        '<ul class="features-list">' +
                                            '{% for feature in plan.features_list %}' +
                                            '<li>{{ feature }}</li>' +
                                            '{% endfor %}' +
                                        '</ul>' +
                                        '{% if plan.target_market %}' +
                                        '<h5 class="card-title">Target Market:</h5>' +
                                        '<ul class="features-list">' +
                                            '{% for target_market in plan.market_place %}' +
                                            '<li>{{ target_market }}</li>' +
                                            '{% endfor %}' +
                                        '</ul>' +
                                        '{% endif %}' +
                                        '<div class="pay-buttons buttons-group">'+                                    
                                        '<<form class="paypal-form" action="{% url 'subscription' %}" method="post">' +
                                        '{% csrf_token %}' +
                                        '<input type="hidden" name="plan_id" value="' + data.plan_id + '">' +
                                        '<button type="submit" class="btn button-to-pay">Pay with PayPal</button>' +
                                        '</form>' +
                                        '</div>';                                        ;
                planDetails.innerHTML += newContent;
            })
            .catch(error => {
                document.getElementById('planDetails').innerHTML = error.message;
            });
        });
        document.addEventListener("DOMContentLoaded", function() {

            // Toggle hamburger menu.
            const hamburgerToggle = document.querySelector("#hamburgerToggle");
            const menuItems = document.querySelector(".menu-items");
            const hamburgerIcon = document.querySelector(".hamburger-lines i");
        
            hamburgerToggle.addEventListener("change", function() {
        
              hamburgerIcon.className = this.checked ? 'bi bi-x-lg' : 'bi bi-list';
        
                menuItems.style.transform = this.checked ? 'translateX(0)' : 'translateX(-100%)';
            });
        });
    </script>
</body>
</html>