{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="AI Team Chat: Gain insights and consult on our artificial intelligence services.">
    <meta name="keywords" content="EFEXZIUM, AI Team, AI, Team, Chat, Artificial Intelligence, Website creation, sitios web con IA, Create, clients, plans, Subscriptions, page">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="gx3tJHQRVDGpImUUJXn_cWvSrcUnGjJTgW8H1dHzIRI" />
    <title> {{header}} {% trans " Artificial Intelligence Services by Ai-team" %}</title>
    <link rel="canonical" href="{% url 'ai-team' context='main' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Bootstrap CSS python manage.py runserver-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href={% static "css/style_chat.css" %} rel="stylesheet"> 
    <link href={% static "css/style_cards.css" %} rel="stylesheet"> 
    <script src={% static 'js/landing.js' %} ></script> 
    <script src={% static 'js/interactions-users-messages.js' %} ></script> 
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    

    
</head>

<body >
    <div class="row"><div class="chat-header d-flex justify-content-between  px-3 py-2 glass" style="align-items: start;justify-content: flex-start;">
        <div class="nav-container d-flex align-items-center" style="background-color: transparent;">
            <!-- Asegúrate de que el checkbox tiene el id correcto -->
            <input class="checkbox" type="checkbox" id="hamburgerToggle">
            <!-- Vincula el label (hamburger-lines) con el checkbox mediante el atributo "for" -->
            <label class="hamburger-lines" for="hamburgerToggle">
                <i class="bi bi-list"></i>
            </label>
             <!-- Añade esta línea para el menú -->
            <div class="menu-items glass"> <!-- Ajusta la posición vertical -->
                <ul>
                    <li cy-data="home-link"><a href="/es/chat/main/" title="Main page of AI Team Chat"><h2 class="reset-styles">{% trans "Home"%}</h2></a></li>

                    
                        <li cy-data="login-link"><a href="/es/login/" title="login to AI Team for more"><h2 class="reset-styles">{% trans "Login"%}</h2></a></li>
                        <li><a href="{% url 'signup' %}" title="login to AI Team for more"><h2 class="reset-styles">{% trans "Singup"%}</h2></a></li>
                        <li><a href="{% url 'password_reset' %}" data-template="faqs_messages" title="Reset password"><h2 class="reset-styles">{% trans "Reset Password"%}</h2></a></li>
                        
                        {% if user.is_superuser %}
                        <li><a href="{% url 'create_subscription' %}" data-template="faqs_messages" title="Crete Subscription"><h2 class="reset-styles">Create Subscription</h2></a></li>
                        <li><a href="{% url 'list_subscriptions' list_all='clients'%}" data-template="faqs_messages" title="Clients"><h2 class="reset-styles">Clients</h2></a></li>
                        <li><a href="{% url 'list_subscriptions' list_all='plans'%}" data-template="faqs_messages" title="Plans"><h2 class="reset-styles">Plans</h2></a></li>
                        {% endif %}
                        


                </ul>
            </div>
            <h1 class="chat-title">Plans </h1> 
        </div>
    
                
    </div>
 <br>


 <div class="columns is-centered" >
    <div class="column is-6" style="min-width: 3rem; min-height: 10rem;">
            <br>
            <div class="card card_background_static cont-card"style=" min-height: 5rem; margin:2rem">
                
                    <div class="card-header " style= "border: none !important; background: transparent !important;">
                        <h2 class="title is-4" style="color: white; ">{% trans "Special Code" %}</h2>
                    </div>
                    <div class="card-body glass-body" style= "border: none !important; background: transparent !important;" id="planDetails">
                        <br>
                        <form id="specialCodeForm">
                            {% csrf_token %}
                            <input type="text" name="special_code" placeholder="Ingresa tu código" class="input" style="min-width: 3rem; ">
                            <br>
                            <button type="submit"  class="button is-primary" style="margin-top: 1rem;">{% trans "Send Code" %} </style></button>
                    </form>
                    </div>
                
            </div>
            <br>
                {% for plan in plans %}
                    <div class="card cont-card card_background_static" style="min-height: 10rem; margin: 2rem;">
                        <div class="card-header " style= "border: none !important; background: transparent !important;">
                            <h2 class="title is-4" style="color: white; ">{{ plan.name }}</h2> <!-- Nombre del plan -->
                        </div>
                        <div class="card-body glass-body" style="min-height: 11rem; border: none !important; background: transparent !important; ">
                            <!-- <p><strong style="color: white;">{% trans "Plan Name" %}</strong> {{ plan.plan_name }}</p> -->
                            <p><strong style="color: white;">{% trans "Price" %}</strong> </p>
                            <br>
                            <p>${{ plan.price }} USD</p>
                            <!-- <p><strong style="color: white;">{% trans "Subscription Status" %}</strong> {{ plan.subscription_status }}</p> -->
                            <br>
                            <br>
                            <h5 class="title is-5" style="color: white;">{% trans "Features" %}</h5>
                            <ul class="features-list"  style="list-style-type: disc; padding-left: 2rem;">
                                {% for feature in plan.features_list %}
                                <li style="margin-bottom: 5px;">{{ feature }}</li>
                                {% endfor %}
                            </ul>
                            {% if plan.target_market %}
                            <h5 class="title is-5">{% trans "Target Market" %}</h5>
                            <ul class="features-list" style="list-style-type: disc; padding-left: 20px;">
                                {% for target_market in plan.market_place %}
                                <li style="margin-bottom: 5px;">{{ target_market }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <br>
                            <div class="pay-buttons buttons-group" style="margin-top: 1rem; ">
                                <!-- PayPal -->
                                <form class="paypal-form" action="{% url 'subscription' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="plan_id" value="{{ plan.plan_id }}">
                                    <button type="submit"  class="button is-primary">{% trans "Pay with PayPal" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
    </div>
</div>

   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#cardCarousel').carousel();
        });
        
    </script>
    <script>
        function getLanguagePrefix() {
            const path = window.location.pathname;
            const languageCode = path.split('/')[1]; // Obtiene el segmento de idioma del path
            return languageCode;
        }
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        document.getElementById('specialCodeForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const csrfToken = getCookie('csrftoken');
            var specialCode = this.special_code.value;
            console.log(specialCode);
            const languagePrefix = getLanguagePrefix();
            console.log(languagePrefix);
            let urlEndpoint = `/${languagePrefix}/subs-page/`;
            console.log(urlEndpoint);
            fetch(urlEndpoint, {
                method: 'POST',
                headers: {
                    "X-CSRFToken": csrfToken,
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'special_code=' + specialCode
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Código no encontrado');
                }
            })
            .then(data => {
                // Mostrar los detalles del plan en el div #planDetails
                var planDetails = document.getElementById('planDetails');

                var newContent =  '<p><strong>Product Name:</strong>' +data.product_name + '</p>' +
                                        '<p><strong>Plan Name:</strong>' + data.plan_name + '</p>' +
                                        '<p><strong>Price:</strong> $' +  data.price + 'USD </p>' +
                                        '<br>' +
                                        '<ul class="features-list">' +
                                            '{% for feature in plan.features_list %}' +
                                            '<li>{{ feature }}</li>' +
                                            '{% endfor %}' +
                                        '</ul>' +
                                        '{% if plan.target_market %}' +
                                        '<h5 class="card-title">Target Market:</h5>' +
                                        '<ul class="features-list">' +
                                            '{% for target_market in plan.market_place %}' +
                                            '<li>{{ target_market }}</li>' +
                                            '{% endfor %}' +
                                        '</ul>' +
                                        '{% endif %}' +
                                        '<div class="pay-buttons buttons-group">'+                                    
                                        '<<form class="paypal-form" action="{% url 'subscription' %}" method="post">' +
                                        '{% csrf_token %}' +
                                        '<input type="hidden" name="plan_id" value="' + data.plan_id + '">' +
                                        '<button type="submit" class="btn button-to-pay">Pay with PayPal</button>' +
                                        '</form>' +
                                        '</div>';                                        ;
                planDetails.innerHTML += newContent;
            })
            .catch(error => {
                document.getElementById('planDetails').innerHTML = error.message;
            });
        });
        document.addEventListener("DOMContentLoaded", function() {

            // Toggle hamburger menu.
            const hamburgerToggle = document.querySelector("#hamburgerToggle");
            const menuItems = document.querySelector(".menu-items");
            const hamburgerIcon = document.querySelector(".hamburger-lines i");
        
            hamburgerToggle.addEventListener("change", function() {
        
              hamburgerIcon.className = this.checked ? 'bi bi-x-lg' : 'bi bi-list';
        
                menuItems.style.transform = this.checked ? 'translateX(0)' : 'translateX(-100%)';
            });
        });
    </script>
</body>
</html>